.footer {
  max-width: 880px;
  width: 100%;
  display: flex;
  margin: 0 auto 60px;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 680px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    margin-bottom: 36px;
  }
}