.element__delete {
  border: none;
  background-image: url(../../../images/Delete__Button.svg);
  background-repeat: no-repeat;
  position: absolute;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  top: 20px;
  right: 20px;
  padding: 0;
  width: 18px;
  height: 19px;
  transition: opacity 0.5s ease-in;
}

.element__delete:hover {
  opacity: 0.6;
}