.element__like {
  border: none;
  background-image: url(../../../images/element__like.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0;
  padding: 0;
  min-width: 22px;
  min-height: 19px;
  cursor: pointer;
  background-position: center;
  background-color: #FFFFFF;
  transition: opacity 0.5s ease-in;
}

.element__like:hover {
  opacity: 0.5;
}
