.register__title {
  margin: 0;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  color: #FFFFFF;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .register__title {
    font-size: 20px;
  }
}